<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Show all controls</title>
</head>
<header>
	<div class="jumbotron bg-dark text-white">
		<h1 class="display-4">Quality guild</h1>
		<p class="lead">Continuous auditting</p>
		<hr class="my-4">
		<p>Click below take a look at the source code and on how to install and run</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="https://github.com/NielsTalens/evidence-service" target="_blank" role="button">Source code</a>
		</p>
	</div>
</header>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<h2>Controls</h2>
				{%for i in range(0, len_c)%}
				<p>Id: {{all_controls[i]['Control Id']}}</p>
				<p>Description: {{all_controls[i]['Description']}}</p>
				<p>Control value: {{all_controls[i]['Control value']}}</p>
				<hr>
				{%endfor%}
			</div>
			<div class="col-sm">
				<h2>Evidence</h2>
				{%for i in range(0, len_e)%}
				<p>Description: {{all_evidence[i]['Description']}}</p>
				<p>Control id: {{all_evidence[i]['Control id']}}</p>
				<p>Retrieved value: {{all_evidence[i]['Evidence value']}}</p>
				<hr>
				{%endfor%}
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Failed controls</h2>
					</div>
					<div class="card-body">
						{%for i in range(0, len_fail)%}
						<p class="text-danger">{{all_fails[i]['Description']}}</p>
						<p class="text-warning">Failed with value {{all_fails[i]['Retrieved value']}}</p>
						{%endfor%}
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Succeeded controls</h2>
					</div>
					<div class="card-body">
						{%for i in range(0, len_suc)%}
						<p class="text-success">{{all_success[i]['Description']}}</p>
						<p class="text-info">succeeded with value {{all_success[i]['Retrieved value']}}</p>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>

	</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
